@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes loadRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(60deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes hexLoad {
    from {
        clip-path: url(#hexSVG);
    }
    to {
        clip-path: url(#hexSVG2);
    }
}

@keyframes slideLeft {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

@keyframes darkBackground {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.62);
    }
}

@keyframes pulse {
    from {
        background-color: #333;
    }
    to {
        background-color: #444;
    }
}