@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loadRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

@keyframes loadRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes hexLoad {
  from {
    -webkit-clip-path: url(#hexSVG);
            clip-path: url(#hexSVG);
  }
  to {
    -webkit-clip-path: url(#hexSVG2);
            clip-path: url(#hexSVG2);
  }
}

@keyframes hexLoad {
  from {
    -webkit-clip-path: url(#hexSVG);
            clip-path: url(#hexSVG);
  }
  to {
    -webkit-clip-path: url(#hexSVG2);
            clip-path: url(#hexSVG2);
  }
}

@-webkit-keyframes slideLeft {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes slideLeft {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@-webkit-keyframes darkBackground {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.62);
  }
}

@keyframes darkBackground {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.62);
  }
}

@-webkit-keyframes pulse {
  from {
    background-color: #333;
  }
  to {
    background-color: #444;
  }
}

@keyframes pulse {
  from {
    background-color: #333;
  }
  to {
    background-color: #444;
  }
}
